.header {
    text-align: center;
    border: 1px solid black;
    margin: 10px 0 0 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.colored {
    width: 31%;
    height: 40px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}

.blue {
    background-color: rgb(40, 24, 187);
    order: 1;
}

.yellow {
    background-color: rgb(246, 234, 19);
    border: 1px dashed black;
    order: 2;
}

.pink {
    background-color: rgb(229, 63, 102);
    order: 3;
}

.first__block {
    order: 3;
}

.btn {
    border: 1px solid black;
    border-radius: 0%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal {
    background-color: rgba(0, 0, 0, .3);
    display: none;
    padding-top: 20px;
}

.modal .modal__dialog {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    text-align: center;
    background-color: white;
}

.modal.open {
    display: block;
}

.modal__close {
    font-size: 30px;
    margin-left: 80%;
    opacity: .5;
    cursor: pointer;
}

@media (max-width: 575px) {

    .wrapper {
        flex-direction: column;
    }

    .colored {
        width: 100%;
    }

    .btn-warning {
        margin-bottom: 10px;
    }

    .modal .modal__dialog {
        max-width: 250px;
    }
}